mat-card img{
  /* object-fit: cover; this makes the image in src fit to the size specified below */
  width: 200px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 200px;
  margin: 5px;
}
.card{
  background-color: linen;
  margin-bottom: 10px;
  /* margin: 10px; */
}
/* .home{
  background-image: url("/assets/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
} */
.center {
  text-align: center;
  background-color: lightcyan;
}
.center pagination-controls  {
  border: 1px solid #ddd; /* Gray */
}

.icon.active{
color: rgb(226, 72, 95);
}
