mat-card img{
  width: 200px; 
  height: 200px;
  margin-top: 10px;
}
.card{
  position:relative;
  background-color: linen;
  margin-bottom: 10px;
  max-width: 250px;
}
/* .container{
  background-image: url("/assets/bbb.jpg");
} */