<app-header></app-header>
<div class="container" style="height: 80%;">
    <div class="row">
        <div class="col-sm" *ngFor="let gif of gifs ">
            <mat-card  class.mat-elevation-z12="false" class.mat-elevation-z12="true" class="card">
                    <div style="align-content: center;">
                    <img  mat-card-img [src]="gif.urlToImage"></div>
                    <mat-card-actions align="end">
                        <button type="button" class="btn-outline-primary " mat-stroked-button (click)="delfavHandler(gif)">
                            Delete &nbsp;<mat-icon>delete</mat-icon>
                          </button>
                   
                    </mat-card-actions>
                </mat-card>
        </div>
    </div>
</div>
